body {
  margin: 0;
  overflow: hidden;
  background: transparent;
}

/* Делаем все div элементы прозрачными */
div {
  background-color: transparent !important;
}

/* Альтернативно, можно использовать универсальный селектор для всех элементов */
* {
  background-color: transparent !important;
}

#webview {
  display: inline-flex;
  width: 100%;
  height: 100vh;
  border: none;
  background: transparent;
}

.hide {
  display: none !important;
}
